In [1]:
import pandas as pd
import numpy as np

In [2]:

df =pd.read_csv('patient_heart_rate.csv')

df.head(5)

   1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề
“Missing header in the csv file”

In [3]:
column_names= ["Id", "Name", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']
df=pd.read_csv("patient_heart_rate.csv",names=column_names)   
df

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0    1    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    9     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
9   10    Louie McDuck  12.0       45kgs     -     -     -    92    95    87
10  11       Henry Nam   NaN       60kgs    78    75    72     -     -     -
11  12     Michel Long  34.0         NaN    65    67    55     -     -     -
12  13      Tana Ricky   NaN         NaN     -     -     -    68    72    70
13  14        UniLever   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  15             NaN  52.0      180lbs     -     -     -    68    75    72

Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao
gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [4]:
df[['Firstname', 'Lastname']]=df['Name'].str.split(expand = True)
df = df.drop('Name',axis=1)
df

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,9,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
9,10,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck
10,11,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
11,12,34.0,NaN,65,67,55,-,-,-,Michel,Long
12,13,NaN,NaN,-,-,-,68,72,70,Tana,Ricky
13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UniLever,None
14,15,52.0,180lbs,-,-,-,68,75,72,NaN,NaN

Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [5]:
weight=df['Weight']
for i in range(len(weight)):
  x = str(weight[i])
  if "lbs" in x[-3:]:
    #remove the lbs from the value
    x = x[:-3:]
    float_x = float(x)
    y = int(float_x/2.205)
    y = str(y)+"kgs"
    weight[i] = y
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\489728095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\489728095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\489728095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\489728095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\489728095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    9  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
9   10  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
10  11   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
11  12  34.0    NaN    65    67    55     -     -     -    Michel     Long
12  13   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
13  14   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
14  15  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

 Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có
thể đưa ra là xóa bỏ

In [6]:
df.dropna(how="all", inplace=True)
df

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    9  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
9   10  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
10  11   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
11  12  34.0    NaN    65    67    55     -     -     -    Michel     Long
12  13   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
13  14   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
14  15  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [7]:
df = df.drop_duplicates(subset=['Firstname','Lastname', 'Age', 'Weight'])
df

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
9   10  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
10  11   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
11  12  34.0    NaN    65    67    55     -     -     -    Michel     Long
12  13   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
13  14   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
14  15  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [8]:
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\3571680202.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\3571680202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\3571680202.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\3571680202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
9   10  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
10  11   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
11  12  34.0    NaN    65    67    55     -     -     -    Michel     Long
12  13   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
13  14   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
14  15  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart
Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ
liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề
này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa
đề xuất từ chuyên gia như sau:

a. Deletion: Remove records with missing values

b. Dummy substitution: Replace missing values with a dummy but valid value: e.g.: 0 for numerical values.

c. Mean substitution: Replace the missing values with the mean.

d. Frequent substitution: Replace the missing values with the most frequent item.

e. Improve the data collector: Your business folk will talk to the clients and inform
them about why it is worth fixing the problem with the data collector.
……

Yêu cầu:
- Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
- Yêu cầu xử lý dữ liệu thiếu như sau: Nếu dòng nào có Age hoặc Weight có dữ liệu thì
phần Age hoặc Weight được tính như bên dưới, nếu thiếu cả 2 thông tin thì xóa dòng
        
        o Age: Giá trị thay thế là mean của các giá trị trong cột Age

In [9]:
df

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
9   10  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
10  11   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
11  12  34.0    NaN    65    67    55     -     -     -    Michel     Long
12  13   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
13  14   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
14  15  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Thống kê các dòng thiếu cả 2 dữ liệu 'age' và 'wight' và xoá các dòng đó đi

In [10]:
missing_data = df[df['Age'].isnull() & df['Weight'].isnull()]
print("Các dòng bị thiếu cả Age và Weight:")
print(missing_data)

Các dòng bị thiếu cả Age và Weight:
    Id  Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
12  13  NaN    NaN     -     -     -    68    72    70      Tana    Ricky
13  14  NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None

In [11]:
df = df.drop(index=missing_data.index).reset_index(drop=True)
df

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
8   10  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
9   11   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
10  12  34.0    NaN    65    67    55     -     -     -    Michel     Long
11  15  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Thay thế các dữ liệu thiếu ở cột Age

In [12]:
df['Age'].fillna(df['Age'].mean(), inplace =True)
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\971083184.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace =True)

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
8   10  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
9   11  36.1  60kgs    78    75    72     -     -     -     Henry      Nam
10  12  34.0    NaN    65    67    55     -     -     -    Michel     Long
11  15  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta
thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).
Còn giá trị thì là kết quả huyết áp.

Chúng ta sẽ tách nội dung của cột này ra làm 3 cột sau: PulseRate : giá trị huyết áp, Sex:
giới tính ( m: male, f: female) và time: thời gian (tháng-ngày) như sau:

In [13]:
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name="PulseRate",var_name="sex_and_time").sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

In [14]:
tmp_df= df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\1956155610.py:1: SyntaxWarning: invalid escape sequence '\D'
  tmp_df= df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)

In [15]:
tmp_df.columns=["Sex","hours_lower","hours_upper"]

In [16]:
tmp_df["Time"]=tmp_df["hours_lower"] + "-"+ tmp_df["hours_upper"]

In [17]:
df =pd.concat([df, tmp_df], axis=1)

In [18]:
df = df.drop(['sex_and_time','hours_lower','hours_upper'], axis=1)
df = df.dropna()
df.to_csv('outputcleanup.csv',index=False)
print(df)

    Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    1  56.0  70kgs     Micky     Mous        72   m  00-06
12   1  56.0  70kgs     Micky     Mous        69   m  06-12
24   1  56.0  70kgs     Micky     Mous        71   m  12-18
36   1  56.0  70kgs     Micky     Mous         -   f  00-06
48   1  56.0  70kgs     Micky     Mous         -   f  06-12
60   1  56.0  70kgs     Micky     Mous         -   f  12-18
1    2  34.0  70kgs    Donald     Duck         -   m  00-06
13   2  34.0  70kgs    Donald     Duck         -   m  06-12
25   2  34.0  70kgs    Donald     Duck         -   m  12-18
37   2  34.0  70kgs    Donald     Duck        85   f  00-06
49   2  34.0  70kgs    Donald     Duck        84   f  06-12
61   2  34.0  70kgs    Donald     Duck        76   f  12-18
3    4  36.1  78kgs   Scrooge   McDuck        78   m  00-06
15   4  36.1  78kgs   Scrooge   McDuck        79   m  06-12
27   4  36.1  78kgs   Scrooge   McDuck        72   m  12-18
39   4  36.1  78kgs   Scrooge   McDuck         -   f  00-06
51   4  36.1  78kgs   Scrooge   McDuck         -   f  06-12
63   4  36.1  78kgs   Scrooge   McDuck         -   f  12-18
4    5  54.0  90kgs      Pink  Panther         -   m  00-06
16   5  54.0  90kgs      Pink  Panther         -   m  06-12
28   5  54.0  90kgs      Pink  Panther         -   m  12-18
40   5  54.0  90kgs      Pink  Panther        69   f  00-06
64   5  54.0  90kgs      Pink  Panther        75   f  12-18
5    6  52.0  85kgs      Huey   McDuck         -   m  00-06
17   6  52.0  85kgs      Huey   McDuck         -   m  06-12
29   6  52.0  85kgs      Huey   McDuck         -   m  12-18
41   6  52.0  85kgs      Huey   McDuck        68   f  00-06
53   6  52.0  85kgs      Huey   McDuck        75   f  06-12
65   6  52.0  85kgs      Huey   McDuck        72   f  12-18
6    7  19.0  56kgs     Dewey   McDuck         -   m  00-06
18   7  19.0  56kgs     Dewey   McDuck         -   m  06-12
30   7  19.0  56kgs     Dewey   McDuck         -   m  12-18
42   7  19.0  56kgs     Dewey   McDuck        71   f  00-06
54   7  19.0  56kgs     Dewey   McDuck        78   f  06-12
66   7  19.0  56kgs     Dewey   McDuck        75   f  12-18
7    8  32.0  78kgs      Scpy      Doo        78   m  00-06
19   8  32.0  78kgs      Scpy      Doo        76   m  06-12
31   8  32.0  78kgs      Scpy      Doo        75   m  12-18
43   8  32.0  78kgs      Scpy      Doo         -   f  00-06
55   8  32.0  78kgs      Scpy      Doo         -   f  06-12
67   8  32.0  78kgs      Scpy      Doo         -   f  12-18
8   10  12.0  45kgs     Louie   McDuck         -   m  00-06
20  10  12.0  45kgs     Louie   McDuck         -   m  06-12
32  10  12.0  45kgs     Louie   McDuck         -   m  12-18
44  10  12.0  45kgs     Louie   McDuck        92   f  00-06
56  10  12.0  45kgs     Louie   McDuck        95   f  06-12
68  10  12.0  45kgs     Louie   McDuck        87   f  12-18
9   11  36.1  60kgs     Henry      Nam        78   m  00-06
21  11  36.1  60kgs     Henry      Nam        75   m  06-12
33  11  36.1  60kgs     Henry      Nam        72   m  12-18
45  11  36.1  60kgs     Henry      Nam         -   f  00-06
57  11  36.1  60kgs     Henry      Nam         -   f  06-12
69  11  36.1  60kgs     Henry      Nam         -   f  12-18

11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng
phương pháp sau

• Thay thế bằng giá trị trung bình liền trước và liền sau của người đó. Nếu không được thì dùng 2)

• Thay thế bằng giá trị trung bình 2 giá liền trước của người đó. Nếu không được
thì dùng 3)

• Thay thế bằng giá trị trung bình 2 giá liền sau của người đó. Nếu không được thì
dùng 4)

• Trung bình của các giá trị huyết áp của người đó. Nếu không được thì dùng 5).

• Trung bình của các giá trị huyết áp của nhóm giới tính. Nếu không được thì dùng
6)

• Trung bình của các giá trị dữ liệu. Nếu không được thì thay bằng mức ổn định
trong y học

In [19]:
df['PulseRate']= df['PulseRate'].replace({'-' : '0'}, regex=True)
df["PulseRate"].fillna('0', inplace =True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6528\2610797412.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["PulseRate"].fillna('0', inplace =True)

In [20]:
def avgPulserate(df, firstname):
  sumPulserate = 0
  nsumPulserate = 0
  for i, value in enumerate(df['Firstname']):
    if value == firstname:
      try:
        if df['PulseRate'][i] !='0':
          sumPulserate += int(df['PulseRate'].values[i])
          nsumPulserate += 1
      except:
        pass
  if nsumPulserate > 0:
    return str(sumPulserate/nsumPulserate)
  else:
    return 0

In [21]:
def isValidIndex1(index, nrows):
  return index - 1 > 0 & index + 1 < nrows
def isValidIndex2(index, nrows):
  return index + 1 < nrows & index + 2 < nrows
def isPulseRateNotNull1(index, df):
  return str(df['PulseRate'].values[index-1])!= '0' and str(df['PulseRate'].values[index+1])!= '0'
def isPulseRateNotNull2(index, df):
  return str(df['PulseRate'].values[index+1])!= '0' and str(df['PulseRate'].values[index +2])!= '0'
def isInGroup1(df, index, firstname):
  return df['Firstname'].values[index-1]== firstname and df['Firstname'].values[index +1]== firstname
def isInGroup2(df, index, firstname):
  return df['Firstname'].values[index+1]== firstname and df['Firstname'].values[index +2]== firstname

In [22]:
def updatePulseRatena (index, df):
  nrows = len(df['PulseRate']) -2
  newvalue = ''
  firstname = df['Firstname'].values[index]
  try:
    if isValidIndex1(index,nrows) & isPulseRateNotNull1(index, df) & isInGroup1(df, index, firstname):
      try: 
        newvalue = (int(df['PulseRate'].values[index-1]) + int(df['PulseRate'].values[index+1]))/2
      except:
        newvalue = '0'
    elif isValidIndex2(index,nrows) & isPulseRateNotNull2(index, df) & isInGroup2(df, index, firstname):
      try:
        newvalue = (int(df['PulseRate'].values[index-1]) + int(df['PulseRate'].values[index+1]))/2
      except:
        newvalue ='0'
    else:
      newvalue = avgPulserate(df, firstname)
  except:
      newvalue = avgPulserate(df, firstname)
  finally:
    pass
  return newvalue

In [23]:

pulserateupdate = []
for index, value in enumerate(df["PulseRate"]):
  if value =='0' or value == '':
    newvalue = updatePulseRatena(index,df)
    pulserateupdate.append(newvalue)
  else:
    pulserateupdate.append(value)
df["PulseRateUpdate"] = pulserateupdate

In [24]:
df

,Id,Age,Weight,Firstname,Lastname,PulseRate,Sex,Time,PulseRateUpdate
0,1,56.0,70kgs,Micky,Mous,72,m,00-06,72
12,1,56.0,70kgs,Micky,Mous,69,m,06-12,69
24,1,56.0,70kgs,Micky,Mous,71,m,12-18,71
36,1,56.0,70kgs,Micky,Mous,0,f,00-06,36.0
48,1,56.0,70kgs,Micky,Mous,0,f,06-12,36.0
60,1,56.0,70kgs,Micky,Mous,0,f,12-18,36.0
1,2,34.0,70kgs,Donald,Duck,0,m,00-06,42.5
13,2,34.0,70kgs,Donald,Duck,0,m,06-12,42.5
25,2,34.0,70kgs,Donald,Duck,0,m,12-18,42.5
37,2,34.0,70kgs,Donald,Duck,85,f,00-06,85
49,2,34.0,70kgs,Donald,Duck,84,f,06-12,84
61,2,34.0,70kgs,Donald,Duck,76,f,12-18,76
3,4,36.1,78kgs,Scrooge,McDuck,78,m,00-06,78
15,4,36.1,78kgs,Scrooge,McDuck,79,m,06-12,79
27,4,36.1,78kgs,Scrooge,McDuck,72,m,12-18,72
39,4,36.1,78kgs,Scrooge,McDuck,0,f,00-06,39.0
51,4,36.1,78kgs,Scrooge,McDuck,0,f,06-12,39.0
63,4,36.1,78kgs,Scrooge,McDuck,0,f,12-18,39.0
4,5,54.0,90kgs,Pink,Panther,0,m,00-06,34.5
16,5,54.0,90kgs,Pink,Panther,0,m,06-12,34.5
28,5,54.0,90kgs,Pink,Panther,0,m,12-18,34.5
40,5,54.0,90kgs,Pink,Panther,69,f,00-06,69
64,5,54.0,90kgs,Pink,Panther,75,f,12-18,75
5,6,52.0,85kgs,Huey,McDuck,0,m,00-06,37.5
17,6,52.0,85kgs,Huey,McDuck,0,m,06-12,37.5
29,6,52.0,85kgs,Huey,McDuck,0,m,12-18,37.5
41,6,52.0,85kgs,Huey,McDuck,68,f,00-06,68
53,6,52.0,85kgs,Huey,McDuck,75,f,06-12,75
65,6,52.0,85kgs,Huey,McDuck,72,f,12-18,72
6,7,19.0,56kgs,Dewey,McDuck,0,m,00-06,39.0
18,7,19.0,56kgs,Dewey,McDuck,0,m,06-12,39.0
30,7,19.0,56kgs,Dewey,McDuck,0,m,12-18,35.5
42,7,19.0,56kgs,Dewey,McDuck,71,f,00-06,71
54,7,19.0,56kgs,Dewey,McDuck,78,f,06-12,78
66,7,19.0,56kgs,Dewey,McDuck,75,f,12-18,75
7,8,32.0,78kgs,Scpy,Doo,78,m,00-06,78
19,8,32.0,78kgs,Scpy,Doo,76,m,06-12,76
31,8,32.0,78kgs,Scpy,Doo,75,m,12-18,75
43,8,32.0,78kgs,Scpy,Doo,0,f,00-06,37.5
55,8,32.0,78kgs,Scpy,Doo,0,f,06-12,37.5
67,8,32.0,78kgs,Scpy,Doo,0,f,12-18,37.5
8,10,12.0,45kgs,Louie,McDuck,0,m,00-06,30.666666666666668
20,10,12.0,45kgs,Louie,McDuck,0,m,06-12,30.666666666666668
32,10,12.0,45kgs,Louie,McDuck,0,m,12-18,30.666666666666668
44,10,12.0,45kgs,Louie,McDuck,92,f,00-06,92
56,10,12.0,45kgs,Louie,McDuck,95,f,06-12,95
68,10,12.0,45kgs,Louie,McDuck,87,f,12-18,87
9,11,36.1,60kgs,Henry,Nam,78,m,00-06,78
21,11,36.1,60kgs,Henry,Nam,75,m,06-12,75
33,11,36.1,60kgs,Henry,Nam,72,m,12-18,72
45,11,36.1,60kgs,Henry,Nam,0,f,00-06,72.0
57,11,36.1,60kgs,Henry,Nam,0,f,06-12,72.0
69,11,36.1,60kgs,Henry,Nam,0,f,12-18,72.0